.header {
  grid-area: header;
  display: flex;
  align-content: center;
  background-color: #000;
  padding-left: 2rem;
}

.header__heading {
  font-family: "Prohibition", sans-serif;
  font-size: 6rem;
}

.header__heading--white {
  color: white;
}

.header__heading--black {
  color: #000
}

.header__heading--red {
  color: #FF0202;
}

h1 a {
     text-decoration: none;
     color: inherit;
}

h1 a:hover {
  text-decoration: none;
  color: inherit;
}
