.nav__item {
  display: grid;
  grid-template-columns: 75% 1fr 1fr 1fr;
  grid-column-gap: .5rem;
}

.nav__item-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000;
  grid-column: span 1;
  padding-left: 2rem;
}

.nav__item-label p {
  font-family: "Prohibition", sans-serif;
  font-size: 4rem;
  color: white;
  margin: 0;
}
